
.rows {
    background-color: red;
    display: flex;
    width: 100%;
}

.columns {
    background-color: orange;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

.columns:hover {
    background-color: blue;
}